<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-md-12">
      <h1 class="text-center">Boas vindas!</h1>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-md-12">
      <p class="text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit quibusdam voluptatum nemo laborum facere, quo
        reprehenderit ratione, ea quasi necessitatibus nulla itaque recusandae velit? Unde repellat vero praesentium
        impedit numquam?</p>

      <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat inventore, non facilis
        voluptates tenetur
        tempore ratione sequi dignissimos et alias porro odit quia temporibus perspiciatis vero omnis mollitia maiores
        iste!</p>

      <p class="text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit quibusdam voluptatum nemo laborum facere, quo
        reprehenderit ratione, ea quasi necessitatibus nulla itaque recusandae velit? Unde repellat vero praesentium
        impedit numquam?</p>

    </div>
  </div>
  <div class="parallax">
  </div>

  <div class="row mt-5 mb-5">
    <div class="col-md-12 d-flex justify-content-center">
      <button class="btn btn-outline-dark" routerLink="/feed">Ver o feed</button>
    </div>
  </div>
</div>
